/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/card.css");
@import url("components/footer.css");

body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.card-img {
  height: 160px;
  width: 100%;
  object-fit: fill;
}

.text-center {
  text-align: center;
}

h3 .exception {
    margin-block-start: 2em;
}

/* Custom design below! */


