.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 250px;
  border: 1px solid rgb(230,230,230);
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
}

.card p {
    opacity: 0.5;
}

.card h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
