.footer {
  background-color: #ff9a8c;
  text-align: center;

}

.footer-links a {
  font-size: 35px;
  color: #ea2c62;
}

.footer p {
  color: white;
  opacity: 0.7;
}

.footer .fa-heart {
  color: #ea2c62;
  opacity: 1;
}
